.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartBtn{
  width: 100px;
  padding: 5px;
  background-color: gainsboro;
  border: 1px solid gray;
  border-radius: 3px;
}
.cartBtn:hover{
  background-color: green;
  color: white;
}