.sidebarList{
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}
.list{
  background-color: rgb(8, 18, 43);
  margin: 5px 5px;
  color: white;
  padding: 10px 10px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
}
.list:hover{
  cursor: pointer;
  background-color: rgb(18, 35, 78);
}
.sidebar{
  width: 200px;
  background-color:white;
  border-right: 2px solid rgb(8, 18, 43);
  display: flex;
}
.inputBox{
  margin: 0px 3px;
}
.btn{
  margin: 0px 0px 0px 40px;
  background-color: gainsboro;
  border: none;
  padding: 2px;
  width: 40px;
  color: black;
  font-weight: 600;
}
@media (max-width: 768px) {
  .sidebarList{
    flex-direction: row;
    width: 100%;
    overflow-x: auto; /* Use overflow-x instead of overflow-y */
    white-space: nowrap; /* Prevent wrapping */
  }
  .sidebar{
    width: 100vw; /* Ensure the sidebar takes the full width */
    flex-direction: row;
  }
  .list {
    flex: 1; /* Allow items to expand evenly */
    text-align: center; /* Center the text */
  }
}